#root {
  background: linear-gradient(70deg, #ff8236 30%, #fd8b25 70%);
}

.App {
  height: 100%;
  text-align: center;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.App-content {
  height: 100%;
  padding-top: 8rem;
  transition: padding .3s;
}

.App-content.logged-in {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}

.App-content-area {
  position: relative;
  overflow: scroll;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}
